body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    position: relative;
    width: 200px;
    height: 100px;
    background-color: blanchedalmond;
    text-align: center;
}

.text{
    font-size: 40px;
    color: aquamarine;
}